.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  display: flex;
  margin: 0 auto;
}

li {
  margin-left: 5px;
  text-align: center;
  list-style: none;
  border: 1px solid;
  padding: 5px;
  border-radius: 20%;
  box-shadow: 2px 2px;
  cursor: pointer;
  &:hover {
    background-color: darkgrey;
    color: antiquewhite;
  }
}

a {
  text-align: center;
  text-decoration: none;
  color: #000;
}

.main {
  margin: "0 auto";
  color: green;
  font-size: 50px;
  &:hover {
    color: rgb(183, 218, 178);
  }
}

@media (max-width: 1200px) {
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 800px) {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.ball {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}

.card {
  width: 200px;
  height: 300px;
  perspective: 1000px; /* 원근 거리 설정 */
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* 뒷면 숨기기 */
}

.front {
  background-color: blue;
  transform: rotateY(0deg);
}

.back {
  background-color: red;
  transform: rotateY(180deg); /* 뒷면으로 회전 */
  display: none;
}

.card.flipped .front {
  display: none;
}

.card.flipped .back {
  display: block;
}

#table {
  border-collapse: collapse;
  user-select: none;
}
#table td {
  border: 10px solid #bbada0;
  width: 116px;
  height: 128px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.color-2 {
  background-color: red;
  color: #000;
}
.color-4 {
  background-color: orange;
  color: #000;
}
.color-8 {
  background-color: yellow;
  color: #000;
}
.color-16 {
  background-color: green;
  color: #000;
}
.color-32 {
  background-color: blue;
  color: #000;
}
.color-64 {
  background-color: indigo;
  color: #000;
}
.color-128 {
  background-color: purple;
  color: #000;
}
.color-256 {
  background-color: aqua;
  color: #000;
}
.color-512 {
  background-color: brown;
  color: #000;
}
.color-1024 {
  background-color: yellowgreen;
  color: #000;
}
.color-2048 {
  background-color: salmon;
  color: #000;
}

table {
  border-collapse: collapse;
}
td {
  border: 1px solid #bbb;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background: #888;
}
td.opened {
  background: white;
}
td.flag {
  background: red;
}
td.question {
  background: orange;
}
.mole-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  background: "yellow";
  overflow: hidden;
}
.gopher,
.bomb {
  width: 200px;
  height: 200px;
  bottom: 0;
  position: absolute;
  transition: bottom 1s;
}
.bomb {
  background: url("bomb.png") center center no-repeat;
  background-size: 200px 200px;
}
.gopher {
  background: url("gopher.png") center center no-repeat;
  background-size: 200px 200px;
}
.dead {
  background: url("dead_gopher.png") center center no-repeat;
  background-size: 200px 200px;
}

.boom {
  background: url("explode.png") center center no-repeat;
  background-size: 200px 200px;
}
.hidden {
  bottom: -200px;
}
.hole {
  width: 200px;
  height: 150px;
  position: absolute;
  bottom: 0;
  background: url("mole-hole.png") center center no-repeat;
  background-size: 200px 150px;
}
.hole-front {
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: url("mole-hole-front.png") center center no-repeat;
  background-size: 200px 30px;
}
