* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/*2048게임*/
.color-2 {
  background-color: red;
  color: #000;
}
.color-4 {
  background-color: orange;
  color: #000;
}
.color-8 {
  background-color: yellow;
  color: #000;
}
.color-16 {
  background-color: green;
  color: #000;
}
.color-32 {
  background-color: blue;
  color: #000;
}
.color-64 {
  background-color: indigo;
  color: #000;
}
.color-128 {
  background-color: purple;
  color: #000;
}
.color-256 {
  background-color: aqua;
  color: #000;
}
.color-512 {
  background-color: brown;
  color: #000;
}
.color-1024 {
  background-color: yellowgreen;
  color: #000;
}
.color-2048 {
  background-color: salmon;
  color: #000;
}

td {
  border: 1px solid #bbb;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background: #888;
}
